@import "../../variables.scss";

.profile-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.back-button {
  font-size: 1.5em;
  color: $forth;
  padding: 10px;
  height: fit-content;
  cursor: pointer;
}

.profile-holder {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: $forth;
  padding: 20px;
  overflow: auto;
}

.prof-header {
  height: fit-content;
}
.prof-info {
  display: inline-block;
  vertical-align: middle;
  h1, h4, h5, h6 {
    margin: 3px;
  }
  h5 {
    color: $primary;
  }
  h6 {
    color: gray;
  }
}

.profile-pic {
  height: 100px;
  width: 100px;
  margin: 20px;
  border-radius: 50px;
  box-shadow: 0px 0px 5px 1px black;
  display: inline-block;
}

.details-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  overflow:hidden;
}

.member-since {
  font-size: .65em;
  color: gray;
  margin: 3px;
}

@media screen and (max-width: 849px) {
  .back-button{
    display: none;
  }
  .profile-holder {
    height: auto;
    min-height: 100vh;
    display: block;
  }
  .details-container {
    display: block;
  }
}

@media screen and (min-width: 850px) {
  .profile-holder {
    position: absolute;
    height: 80vh;
    width: 80vw;
    margin: 10vh 10vw 10vh 10vw;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 3px $primary;
    overflow: hidden;
  }

  .details-container {
    flex-direction: row;
  }
}