@import "../../variables.scss";

.searcher-container {
  overflow: hidden;
}

.searcher-input {
  width: auto;
  background: none;
  border: none;
  outline: none;
  color: $forth;
  
  text-align: center;
}

.searcher-input:focus {
  background: none;
  border: none;
  box-shadow: 0;
  outline: 0 none;
  color: $forth;
}

.searcher-input::placeholder {
  color: $forth;
}

.search-form-group {  
  border-bottom: 2px solid $forth;
  color: $forth;
  font-size: 2em;
}

.result-list {
  height: 500px;
  width: 100vw;
  margin: 0;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background:$forth;
    li {
      padding: 5px;
      text-align:center;
    }
    li:hover {
      color: $primary;
      cursor: pointer;
    }
  }

}

@media screen and (min-width: 769px) {
  .searcher-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .searcher-input, .result-list {
    max-width: 500px;
  }
}