.experience-container {
  flex: 1 1 50%;
  overflow: auto;
  max-height: 100%;
}

.experience {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

.experience {
  display: flex;
  align-items: flex-start;
  margin: 5px;
  padding: 5px;
  img {
    margin-right: 5px;
  }
  p {
    font-size: small;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 849px) {
  .experience-container{
    display: block;
    height: 100%;
    margin-bottom: 10px;
  }
}