@import '../../../variables.scss';

.follow-container {
  flex: 1 1 80%;
  flex-direction: column;
  background-color: $primary;
  border-radius: 4px;
}

.follows {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  height: calc(100% - 40px);
  padding: 5px;
  overflow: auto;
}

.user {
  margin: 0;
  padding: 3px;
  background: $forth;
}

.user-image {
  border-radius: 16px;
  height: 32px;
  width: 32px;
  margin-right: 2px;
}

.clickable {
  height: 25px;
  padding: 5px;
  background-color: $primary;
  color: $forth;
  cursor: pointer;
}

.no-clickable:hover {
  background-color: lighten($forth, 20);
}

.no-clickable {
  height: 25px;
  padding: 5px;
  margin: 5px;
  border-bottom: 1px solid;
  background-color: $forth;
  border-radius: 0px 0px 3px 3px;
  cursor: pointer;
}

.controls {
  height: 40px;
}

@media screen and (max-width:849px) {
  .follow-container {
    display: block;
    flex: 1 1 100%;
  }
}