// import variables first so bootstrap uses those
@import './variables.scss';
@import '~bootstrap/scss/bootstrap.scss';
@import '~font-awesome/css/font-awesome.min.css';

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: $font-family;
  overflow: hidden;
}

.main-container {
  background-image: url('/images/bg.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
}

.main-overlay {
  background-color: rgba($primary, 0.5);
  height: 100vh;
}

@media screen and (min-width: 769px) {
  .main-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 849px) {
  html, body, #root, .main-container {
    overflow: auto;
    height: auto;
    min-height: 100vh;
  }
}

.loading {
  background-color: rgba($primary, 0.5);
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  justify-content: center;
  color: $forth;
}

::-webkit-scrollbar {
  display: none;
}