.projects-container {
  flex: 1 1 60%;
  overflow: auto;
  max-height: 100%;
}

.projects {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

.project {
  display: flex;
  align-items: center;
  margin: 5px;
  img {
    margin-right: 5px;
  }
}

.project-image {
  height: 60px;
  width: 60px;
  border-radius: 4px;
}

@media screen and (max-width: 849px) {
  .projects-container{
    display: block;
    height: 100%;
    margin-bottom: 10px;
  }
}